html {
  font-size: 62.5%;
}
body {
  font-family: Consolas, monaco, monospace;
  /* font-weight: 400; */
  /* background-color: rgb(206, 211, 208); */
  background-image: url("final.jpg");

  background-attachment: fixed;
  background-size: cover;
  /* backdrop-filter: blur(5px); */
  /* background-color: yellow; */
}

.h-top,
h1 {
  background-color: #edd382;
  position: static;
  font-size: 1.5em;
  padding-bottom: 0.5%;
  padding-top: 0.2em;
  padding-left: 0.5em;
}
header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
button {
  font-size: 2rem;
  padding: 0 2rem;
}
.btn-create {
  font-size: 2rem;

  margin-left: 20%;
}
button:hover {
  box-shadow: 3px 5px rgb(0, 21, 10);
  transform: translateY(-2px);
  transition: all 0.2s ease-in 0s;
}

.main-container {
  /* filter: blur(20); */
  position: relative;
  top: 30%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.5rem;
}
table,
th,
td {
  border: 1px solid black;
  padding: 1rem;
}
.main-container table {
  background-color: red;
}
.main-container th {
  background-color: #252627;
  color: #d3d4d9;
  font-size: 1.5em;
  box-sizing: border-box;
  border-radius: 0.3em;
}
.main-container td {
  /* background-image: linear-gradient(to right, #beb7a4, #d4f5f5); */
  background-color: #beb7a4;
  font-size: 1.2em;
  border-radius: 0.3em;
  padding: 0rem 1.5rem;
}
.hidden {
  display: none;
}

@media (max-width: 576px) {
  .page-2-main {
    position: absolute;
    left: 10%;

    right: 10%;
    top: 10%;
    /* bottom: 50%; */

    background-image: linear-gradient(to right, #a2999e, #f7d4bc);
  }
  .form-outer {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    /* width: 60%; */
    /* height: 60vh; */
    justify-content: center;
    align-items: center;
  }

  form table {
    width: 80%;

    height: 60vh;
  }

  .form-details table th,
  td {
    padding: 0 0.5rem;
    color: black;
  }
  .form-details th {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .form-details td {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (min-width: 576px) {
  .page-2-main {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;
    /* bottom: 15%; */

    background-image: linear-gradient(to right, #a2999e, #f7d4bc);
  }
  .form-outer {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    /* width: 60%;
    height: 60vh; */
    justify-content: center;
    align-items: flex-end;
  }

  form table {
    height: 60vh;
  }
  .form-details table th,
  td {
    padding: 0 3rem;
    color: black;
  }
  .form-details th {
    font-size: 3rem;
    font-weight: 600;
  }
  .form-details td {
    font-size: 3rem;
    font-weight: 400;
  }
}

.btn-sv {
  display: flex;
  justify-content: center;
}
.btn-save {
  background-color: darkgreen;
}

#editHover:hover {
  background-color: #9fb1bc;
  box-shadow: 3px 5px rgb(red);
  border: 3px solid #190b28;
  transition: all 0.2s ease-out 0s;
}
